{% extends "base.html" %}
{% from 'bootstrap5/pagination.html' import render_pager, render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}

{% block content %}
<div class="container">
    <h2>{{ title if title else '管理'}}</h2>
    <a href="{{ url_for('asset.create_asset') }}" class="btn btn-primary mb-3">新增</a>
    {{ render_table(messages, show_actions=True, model=Asset, edit_url=('asset.edit_asset', [('id', ':id')]), delete_url=('asset.delete_asset', [('id', ':id')])) }}
    {{ render_pagination(pagination) }}
</div>
{% endblock %}