{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if title %}
        <h2>{{ title}}</h2>
    {% endif %}
    <a href="{{ url_for('admin.permission_create') }}" class="btn btn-primary mb-3">新增</a>
    {{ render_form(form, form_type='inline',method='get',button_map={'search': 'primary', 'reset': 'secondary'},button_size='sm') }}
    {{ render_table(messages, show_actions=True, model=Permission, edit_url=('admin.permission_edit', [('id', ':id')]), delete_url=('admin.permission_delete', [('id', ':id')])) }}
    {{ render_pagination(pagination,args=request.args.to_dict()) }}
</div>
{% endblock %}